
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: #f5e9db;
}

.shop-cart {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  .btn {
    border-radius: 23px;
    .glyphicon {
      line-height: inherit;
    }
  }
}

.shop-menu {

}