// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

body {
  background-color: #f5e9db;
}

.shop-cart {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  a {
    color: inherit;
  }
  .btn {
    border-radius: 23px;
    .glyphicon {
      line-height: inherit;
    }
  }
}

.shop-menu {

}

.nav {
  li {
    a {
      padding: 0;
      color: inherit;
      text-decoration: none;
      img {
        max-width: 100%;
      }
    }
  }
}

.cart {
  table.table {
    margin-top: 25px;
    thead {
      tr {
        th {
          font-weight: lighter;
        }
        :last-child {
          text-align: right;
        }
        :nth-child(2) {
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        td {
          vertical-align: middle;
          line-height: 100px;
          img {
            height: 100px;
            max-width: 100px;
            vertical-align: middle;
          }
          .glyphicon {
            padding-left: 0;
            line-height: 100px;
          }
        }
        :last-child {
          text-align: right;
        }
        :nth-child(2) {
          text-align: center;
        }
      }
    }
  }
}

.cart-product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}